In [33]:
import numpy as np
import matplotlib.pyplot as ply
import pandas as pd
import seaborn as sns

In [34]:
lines = []
with open("Dane\wind_5min_shifted_all_1.lst", "r") as file:
  for line in file:
    lines.append(line.split())

In [35]:
headers = []
with open("Dane\wind_5min_shifted_all_1.fmt", "r") as file:
  for header in file:
    headers.append(header.split()[1:2])

In [36]:
print(lines[0:5])

[['2017', '1', '0', '0', '2806', '7.31', '-5.90', '-0.82', '-3.74', '0.17', '-3.82', '1414', '0.63', '1.38', '546.5', '-544.9', '40.7', '-9.6', '7.81', '164969.', '197.07', '54.59', '-11.40', '11.07', '-1.45', '0.19'], ['2017', '1', '0', '5', '2306', '6.99', '-5.92', '-0.97', '-2.92', '-0.19', '-3.07', '208', '0.15', '1.15', '550.9', '-548.5', '49.5', '-7.1', '7.52', '166973.', '197.07', '54.65', '-11.40', '11.24', '-1.62', '0.17'], ['2017', '1', '0', '10', '2111', '7.09', '-5.86', '-2.06', '-3.06', '-1.21', '-3.48', '1064', '0.59', '1.01', '552.1', '-550.2', '45.3', '-9.2', '7.16', '131817.', '197.07', '54.62', '-11.40', '11.19', '-1.54', '0.15'], ['2017', '1', '0', '15', '2196', '7.04', '-6.16', '0.27', '-2.38', '0.87', '-2.23', '557', '0.27', '1.33', '550.1', '-548.9', '30.3', '-13.4', '7.07', '141558.', '197.07', '54.64', '-11.40', '11.40', '-1.28', '0.25'], ['2017', '1', '0', '20', '1809', '7.05', '-6.25', '-0.06', '-2.17', '0.50', '-2.12', '454', '0.24', '1.33', '544.8', '-543.1', '38.6', '-10.9', '6.88', '134118.', '197.07', '54.68', '-11.40', '11.47', '-1.50', '0.23']]

In [46]:
data_frame = pd.DataFrame(lines, columns=["Year",
                                            "Day",
                                            "Hour",
                                            "Minute",
                                            "Timeshift",
                                            "Scalar_B",
                                            "BX(GSE)",
                                            "BY(GSE)",
                                            "BZ(GSE)",
                                            "BY(GSM)",
                                            "BZ(GSM)" ,
                                            "RMS(timeshift)",
                                            "RMS(Phase_frnt_nrml)",
                                            "RMS(Field_vector)",
                                            "Flow_speed",
                                            "Vx",
                                            "Vy",
                                            "Vz",
                                            "Proton_Density",
                                            "Temperature",
                                            "X(s/c)",
                                            "Y(s/c)",
                                            "Z(s/c)",
                                            "X(target)",
                                            "Y(target)",
                                            "Z(target)"], dtype=float)

In [47]:
data_frame.head()

,Year,Day,Hour,Minute,Timeshift,Scalar_B,BX(GSE),BY(GSE),BZ(GSE),BY(GSM),...,Vy,Vz,Proton_Density,Temperature,X(s/c),Y(s/c),Z(s/c),X(target),Y(target),Z(target)
0,2017.0,1.0,0.0,0.0,2806.0,7.31,-5.90,-0.82,-3.74,0.17,...,40.7,-9.6,7.81,164969.0,197.07,54.59,-11.4,11.07,-1.45,0.19
1,2017.0,1.0,0.0,5.0,2306.0,6.99,-5.92,-0.97,-2.92,-0.19,...,49.5,-7.1,7.52,166973.0,197.07,54.65,-11.4,11.24,-1.62,0.17
2,2017.0,1.0,0.0,10.0,2111.0,7.09,-5.86,-2.06,-3.06,-1.21,...,45.3,-9.2,7.16,131817.0,197.07,54.62,-11.4,11.19,-1.54,0.15
3,2017.0,1.0,0.0,15.0,2196.0,7.04,-6.16,0.27,-2.38,0.87,...,30.3,-13.4,7.07,141558.0,197.07,54.64,-11.4,11.40,-1.28,0.25
4,2017.0,1.0,0.0,20.0,1809.0,7.05,-6.25,-0.06,-2.17,0.50,...,38.6,-10.9,6.88,134118.0,197.07,54.68,-11.4,11.47,-1.50,0.23

In [48]:
data_frame.dtypes

Year                    float64
Day                     float64
Hour                    float64
Minute                  float64
Timeshift               float64
Scalar_B                float64
BX(GSE)                 float64
BY(GSE)                 float64
BZ(GSE)                 float64
BY(GSM)                 float64
BZ(GSM)                 float64
RMS(timeshift)          float64
RMS(Phase_frnt_nrml)    float64
RMS(Field_vector)       float64
Flow_speed              float64
Vx                      float64
Vy                      float64
Vz                      float64
Proton_Density          float64
Temperature             float64
X(s/c)                  float64
Y(s/c)                  float64
Z(s/c)                  float64
X(target)               float64
Y(target)               float64
Z(target)               float64
dtype: object

In [38]:
data = np.array(lines)

In [49]:
sns.heatmap(data_frame, annot=True)

Day
Hour
Minute
Timeshift
Scalar_B
BX(GSE)
BY(GSE)
BZ(GSE)
BY(GSM) 
BZ(GSM) 
RMS(timeshift)
RMS(Phase_frnt_nrml)
RMS(Field_vector)
Flow_speed
Vx
Vy
Vz
Proton_Density
Temperature
X(s/c)
Y(s/c)
Z(s/c)
X(target)
Y(target)
Z(target)